<div style="height: 40px; padding-top: 10px;">
    <!-- span class="big">Search:</span -->
    <div style="font-style: italic; float: left;">
        <p>
            <button type="button" id="search-list" name="search-list" class="prettyBtn" style="color: darkred">Search
            </button>
            &nbsp;
            <button type="button" id="search-reset" name="reset-button" class="prettyBtn">Reset</button>
        </p>
    </div>
    <input type="hidden" name="acceptterms" value="checked">
</div>